.main {
    width: 100%;
    max-width: 1920px;
    min-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
}

.bg {
    width: 100%;
    background: url("/assets/home/bg1.svg") no-repeat center center;
    background-size: cover;
    padding-bottom: 219px;
}
