.banner {
    width: 100%;
    height: 800px;
    background: url("/assets/home/detail_banner_bg.svg") no-repeat center center;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.bannerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
}

.heroName {
    width: 252px;
    height: 56px;
    background: url("/assets/home/top_title_bg.svg") no-repeat center center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    margin-top: 92px;
    width: 301px;
    height: 302px;
}
.heroImage img {
    width: 100%;
}
